<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howell.whoseface">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--android:debuggable="false"-->
    <!--tools:ignore="HardcodedDebugMode"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity android:name="com.howell.activity.MainActivity"
            android:theme="@style/MyAppMain"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.howell.activity.PushSetActivity"
            android:theme="@style/MyAppPush" />

        <activity android:name="com.howell.activity.FaceMain"
            android:theme="@style/MyAppPush"
            />

        <activity android:name="com.howell.activity.FaceActivity"
            android:theme="@style/MyAppPush"
            android:launchMode="singleTask"
            />

        <activity android:name="com.howell.activity.HistoryActiviy"
            android:theme="@style/MyAppPush"
            android:launchMode="singleTask"
            />


        <service android:name="com.howell.service.AliveService"
            android:enabled="true"
            android:exported="false"
            ></service>


    </application>

</manifest>